html, body {
    padding: 0;
    margin: 0;
}
a {
	text-decoration: none; 
	outline: none;
	color: #000;
}
input {
    outline: none;
    border: none;
    padding: 0;
}
.header {
    z-index: 3;
    background-color: #333;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);;
}
.header .nav {
    width: 1240px;
    background-color: #333;
    height: 58px;
    margin: 0 auto;
    color: #b0b0b0;
}
.nav li a {
    color: #b0b0b0;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 22px;
}
.nav li a:hover {
    color: #377dff;
}

.nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}

.nav ul li {
    width: 300px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    cursor: pointer;
}

.swiper {
    width: 1240px;
    height: 500px;
    clear: both;
}  
.page-header {
    width: 100%;
    /* background-color: #e5e5e5; */
}
.page-header .banner {
    position: relative;
    margin: 0 auto;
    width: 1240px;
    height: 500px;
    overflow: hidden;
}

.page-header .banner img {
    width: 1240px;
    height: 500px;
}

.page-main {
    position: relative;
    width: 100%;
    /* background-color: #e5e5e5; */
}

.page-container {
    width: 1240px;
    margin: auto;
    /* height: 400px; */
    background-color: #fff;
    border-left: 0;
    border-right: 0;
    border-left: 1px solid #f0f0f2;
    border-right: 1px solid #f0f0f2;
}

.content-wrapper {
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 58px;
    border-bottom: 2px solid #f0f0f2;
}

.content-wrapper .main-menu {
    width: 1200px;
}
.content-wrapper .main-menu .menu {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu .menu li {
    box-sizing: border-box;
    width: 240px;
    height: 48px;
    font-size: 16px;
    color: #34495e;
    padding: 5px 20px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
}
.main-menu .menu .clicked {
    border-bottom: 3px solid #377dff;
    color: #377dff;
}
.main-menu .menu .item:hover {
    border-bottom: 3px solid #377dff;
    color: #377dff;
}
.main-menu .menu .mainapi {
    background-color: rgb(102, 177, 255);
    border-radius: 28px;
    color: #ffffff;
    margin: 0 5px;
    border: none;
}
.main-menu .menu .mainapi:active {
    background-color: rgb(83, 168, 255);
    opacity: 1;
}
.main-menu .menu .mainapi .box {
    justify-content: center;
}
.main-menu .menu .box {
    margin: 0 48px;
    display: flex;
    justify-content: space-between;
}

.main-menu .menu span {
    width: 80px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
}
.main-menu .menu .icon {
    width: 28px;
    line-height: 36px;
}
.main-menu .menu img {
    height: 28px;
    vertical-align: -8px;
}

.main-content {
    width: 1240px;
    height: 700px;
    font-size: 18px;
}
.main-content .content-box {
    padding: 20px 20px;
    display: flex;

}
.main-content .hidden {
    display: none;
}
.content-box .content {
    flex: 2;
}
.content-box .can {
    flex: 1;
}
.content-title h2 {
    text-align: center;
}

.content .scope .para {
    font-size: 16px;
    word-wrap: break-word;
    color: #333;
    margin-bottom: 15px;
    text-indent: 2em;
    line-height: 24px;
    zoom: 1;
    text-align: start;
}
.content-box .can {
    width: 600px;
    margin-left: 40px;
}
.can img {
    display: block;
    width: 540px;
    height: 540px;

}
.can .desc {
    text-align: center;
    font-size: 16px;
    height: 24px;
    margin-top: 20px;
    color: rgb(255, 91, 85);
}

#garbage-recognition {
    height: 300px;
}

.main-wrapper {
    margin: 20px 18px;
}
.main-wrapper .img-container {
    height:500px;
    border: 2px solid #34495e;
    position: relative;
}
.main-wrapper .buttons {
    display: flex;
    margin-top: 20px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.buttons button {
    box-sizing: border-box;
    width:84px;
    height: 48px;
    background-color: #70d2f0;
    font-size: 16px;
    border-radius: 12px;
    margin-right: 20px;
    padding: 0 4px;
    border: none;
    opacity: .8;
    cursor: pointer;
    color: rgb(218, 40, 40);
}
.buttons span {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin-right: 40px;
}
.buttons button:active {
    background-color: #70d2f9;
    opacity: 1;
}
.img-container .info {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.info img {
    width: 60px;
    height: 60px;
    display: block;
}
.info span {
    line-height: 24px;
    font-size: 16px;
}

.img-container .showimg {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    cursor: pointer;
    top: 0;
}
.img-container .hidden {
    display: none;
    visibility: hidden
}
.showimg img {
    width: 240px;
    height: 250px;
}
